
{% extends "layout.html" %}

{% block contentOutside %}

<section id="score" class="container">
	<h1 data-toggle="collapse" data-target="#score-form">Post a score</h1>
	<form method="POST" action="/storegame" role="form" id="score-form">
		{{ form_data.as_p|safe }}
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>

<section id="rankings" class="container">
	<h1 data-toggle="collapse" data-target="#ranking-list">Rankings</h1>
	{% include "ranking_list.html" %}
</section>

{% endblock %}
