<div class="center">
	
	<div class="hero-unit">
		<h1>Knerd Labs</h1>
		<br />
		<p>The best thing for being sad is to learn something. That's the only thing that never fails. You may grow old and trembling in your anatomies, you may lie awake at night listening to the disorder of your veins, you may miss your only love, you may see the world about you devastated by evil lunatics, or know your honour trampled in the sewers of baser minds. There is only one thing for it then — to learn. Learn why the world wags and what wags it. That is the only thing which the mind can never exhaust, never alienate, never be tortured by, never fear or distrust, and never dream of regretting. Learning is the only thing for you. Look what a lot of things there are to learn.</p>
		<p> - Merlin </p>
		<br />
		<p><a class="btn btn-primary btn-large" href="/content/add">Go learn something &rsaquo;</a></p>
	</div>
		
	<hr class="soften">
	
	<div class="marketing">
		<h2>Talk Knerdy to me.</h2>
		<p class="lead"> Here's how you can contribute to the Knerd Labs ecosystem.</p>
		<div class="row">
			<div class="span4">
				<img class="bs-icon" src="../static/images/glyphicons/png/glyphicons_066_tags.png">
				<h4>Add and tag content</h4>
				<p>Upload OER content from the web or your local computer. Contribute it to Knerd Labs for others to discover and explore.</p>
				<p><a href="/content/add" class="btn">Add content</a></p>
			</div>
			<div class="span4">
				<img class="bs-icon" src="../static/images/glyphicons/png/glyphicons_040_stats.png">
				<h4>Explore your Learning Profile</h4>
				<p>Build your personal Knewton learning profile by learning from content and taking assessments. The more you do on our system, the better our recommendations get.</p>
				<p><a href="/profile" class="btn">My profile</a></p>
			</div>
			<div class="span4">
				<img class="bs-icon" src="../static/images/glyphicons/png/glyphicons_280_settings.png">
				<h4>Try experimental features</h4>
				<p>We're constantly building and testing (and breaking) new features on Knerd Labs. Be the first of your friends to try out the latest from Knewton.</p>
				<p><a href="/labs" class="btn">Try labs</a></p>
			</div>
		</div> <!--row-->
		<div class="row" style="margin-top: 20px;">
			<div class="span4">
				<img class="bs-icon" src="../static/images/glyphicons/png/glyphicons_027_search.png">
				<h4> Discover learning experiences</h4>
				<p> Find or create your own courses from the content pool on Knerd Labs. Track your students as they progress through these modules at their own pace, on a personalized path. </p>
			</div>
			<div class="span4">
				<img class="bs-icon" src="../static/images/glyphicons/png/glyphicons_030_pencil.png">
				<h4> Create online assessments</h4>
				<p> Use our assessment tool to build multiple choice and other computer-graded assessments for your content, or any open content on Knerd Labs. Group it together with the instructional content to create a learning bundle.</p>
			</div>
			<div class="span4">
				<img class="bs-icon" src="../static/images/glyphicons/png/glyphicons_041_charts.png">
				<h4> Analyze content metrics</h4>
				<p> Track consumption of your uploaded content. Discover popular content. Analyze content efficacy with your students. </p>
			</div>
		</div> <!--row-->
	
	</div> <!--marketing-->
</div>
