{% extends "layout.html" %}

{% block content %}
<h1>Profile for {{profile.nickname}}</h1>

<section class="profile">
	<h2>Info</h2>
	<form action="/profile/{{profile.identity}}" method="POST" role="form"
		id="profile-info" class="form-horizontal">
		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input type="name" class="form-control" id="name" placeholder="Name" name="name"
					value="{{profile.nickname}}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" id="email" name="email"
					placeholder="Email" value="{{profile.email}}">
			</div>
		</div>

		{% ifequal user.user_id profile.identity %}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Update profile</button>
			</div>
		</div>
		{% endifequal %}
	</form>
</section>

<section class="stats">

	<h2>Stats</h2>
	<div class="row">
		<div class="stats-label text-right col-md-4">Played</div>
		<div class="stats-value col-md-4">{{profile.played}}</div>
	</div>


	<div class="row">
		<div class="stats-label text-right col-md-4">Won</div>
		<div class="stats-value col-md-4">{{profile.won}}</div>
	</div>

	<div class="row">
		<div class="stats-label text-right col-md-4">Lost</div>
		<div class="stats-value col-md-4">{{profile.lost}}</div>
	</div>

</section>


<section class="games">
	<h2>Game History</h2>
	{% if games %}
	
	<ul class="game-list">
		{% for game in profile.games %}
		<li>
			<div class="game-player game-first-player {% ifequal game.winner game.first_player %}game-winner {% endifequal %}">
				<div class="game-p1 game-player-name">{{game.first_player.nickname}}</div><div class="game-p1-score game-score">{{game.first_score}}</div>
			</div>
			<div class="game-player game-second-player {% ifequal game.winner game.second_player %}game-winner {% endifequal %}">
				<div class="game-p2-score game-score">{{game.second_score}}</div><div class="game-p2 game-player-name">{{game.second_player.nickname}}</div>
			</div>
		</li>
		{% endfor %}
	</ul>

	{% else %} {{user.nickname}} has not played any games yet! {% endif %}

</section>

{% endblock %}