
<section id="rankings">
	<h1>Rankings</h1>

	{% for item in players_by_league %}
	<h2><img src="/static/img/{{item.league|lower}}.png" class="league-icon league-{{item.league|lower}}" />{{item.league}}</h2>
	

	{% if item.players %}
	<table class="table">
		<thead>
			<th>Athlete</th>
			<th>Played</th>
		</thead>
		<tbody>
			{% for player in item.players %}
			<tr>
				<td>{{player.identity.nickname}}</td>
				<td>derp</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>

	{% else %} No players in {{item.league|capfirst}} yet {% endif %}

	{% endfor %}

</section>