<div id="ranking-list">
	{% for item in players_by_league %}
	<h2><img src="/static/img/{{item.league|lower}}.png" class="league-icon league-{{item.league|lower}}" />{{item.league}}</h2>
	

	{% if item.players %}
	<table class="table">
		<thead>
			<th>Athlete</th>
			<th>Won</th>
			<th>Played</th>
		</thead>
		<tbody>
			{% for player in item.players %}
			<tr>
				<td><a href="/profile/{{player.identity}}">{{player.nickname}}</a></td>
				<td>{{player.won}}</td>
				<td>{{player.played}}</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>

	{% else %} No players in {{item.league|capfirst}} league yet {% endif %}

	{% endfor %}
</div>
